.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; /* 중앙 정렬 추가 */
    min-height: 65vh;
  }
  .leftsection {
    margin-top: 15vh;
    height: 20%;
    width: 100%; /* 너비 추가 */
    display: flex; /* 중앙 정렬을 위한 flex 추가 */
    justify-content: center; /* 중앙 정렬 추가 */
  }
  .rightsection {
    height: 30%;
    margin-top: 65vh;
    width: 100%; /* 너비 추가 */
    display: flex; /* 중앙 정렬을 위한 flex 추가 */
    justify-content: center; /* 중앙 정렬 추가 */
  }
}
